*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    overflow-x: hidden;
}
#outer_div1{
    height: 100vh;
    width: 100vw;
    position: relative;
    font-family:sans-serif;
}
#b_img{
    position: fixed;
    background: url(https://winlancers.com/assets/img/slide2.jpg) no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
}

/* This the nav bar */
#nav{
    top: 0;
    /* border: 1px solid red; */
    width: 100%;
    height: 15%;
    padding: 0 3vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo{
    height: 11vh;
}
#list{
    /* border: 1px solid red; */
    list-style: none;
    color: hsl(0, 0%, 100%);
    font-family: sans-serif;
    font-size: 1.4vw;
    display: flex;
    gap: 2vw;
}

#nav i{
    font-size: 1.6vw;
    display: none;
}
/* #list li:hover{
    transition: all;
    transition-duration: .4s;
    color: rgb(234, 234, 87);
}  */
/* nav bar is ended */


#inner_div2
{
    /* border: 2px solid red; */
    height: 70%;
    width: 87%;
    margin:2vw auto;
    display: flex;
    justify-content: space-between;
}
#text{
    /* border: 1px solid green; */
    height:56%;
    width:65%;
    align-self: center;
    display: flex;
    flex-direction: column;
}
#text1{
   color: white; 
   font-size: 3vw;
}
#text>div{
    margin:25px 0px;
    color: hsl(0, 6%, 85%);
    font-size: 1.6vw;
}
#text>button{
    height:50px;
    width: 170px;
    background-color: #4154f1;
    border-radius: 8px;
    color: antiquewhite;
    font-size: 13px;
    letter-spacing: 1px;
    box-shadow:0.1px 0.1px 100px 0px #4154f1 ;
    border: none;
    font-weight: 600;
    transition-property:border-radius;
    transition-duration: 0.8s;
}    
#text>button:hover{
    border-radius: 2px;
}

/* this is the form */
#form{
    position: relative;
    /* border: 1px solid brown; */
    padding: 1vw 2vw;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    width: 30%;
    height: 80%;
    align-self: center;
    background-color: rgba(0,0,0,.4);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#form h2{
    color:  hsl(0, 6%, 85%);;
}
#form_content1{
    display: flex;
    justify-content: space-between;
}
input,textarea{
    background-color: rgba(0,0,0,.4);
    outline: none;
    font-size: 1.1vw;
    font-family: sans-serif;
}
input,textarea:focus{
    border: 2px solid lightblue;
    color: hsl(0, 6%, 85%);
    font-family: sans-serif;
}
.name_email{
    width: 47%;
    height: 120%;
    border-radius: 7px;
    padding: 0.5vw;
}
.number{
    height: 13%;
    width: 100%;
    border-radius: 7px;
    padding: 0.5vw;
}
textarea{
    width: 100%;
    max-width: 100%;
    max-height: 45%;
    border-radius: 7px;
    padding: 0.5vw;
}
#form_btn{
    border-radius: 7px;
    height:13%;
    width:100%;
    font-size: 1.2vw;
    background-color: #FFC107;
    color: #fff;
    border: none;
}
/* form is ended */

/* wave animation start */
#wave-animation .wave{
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(img/wave.png);
    height: 100px;
    width: 100%;
    background-size: 1000px 100px;
}

#wave-animation .wave1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
#wave-animation .wave2{
    animation: wave2 15s linear infinite;
    z-index: 900;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
#wave-animation .wave3{
    animation: wave 30s linear infinite;
    z-index: 800;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
#wave-animation .wave4{
    animation: wave2 5s linear infinite;
    z-index: 700;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes wave {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}
@keyframes wave2 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: -1000px;
    }
}
/* wave animation ended */


/* This is the main section which contains about section */
#main{
    position: relative;
    margin-top: -1%;
    border: 2px solid red;
    height:100vh;
    width: 100vw;
    background: white;
}

/* about section started */
#about_section{
    border: 2px solid green;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 75%;
    width: 90%; 
    display: flex;
    font-family: sans-serif;
}
.bg{
    /* border: 1px solid blue; */
    height: 100%;
    width: 50%;
}
#content{
    position: relative;
    border-radius: 20px;
    padding: 2.5vw;
    background:  #f6f9ff;
    display: flex;
    flex-direction: column;
}
#zero{
    border: 1px solid black;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
#zero>h2{
    letter-spacing: 1px;
    font-size: 1.6vw;
    color: #000000;
}
#zero>p{
    margin: 1vw 0vw 2vw;
    letter-spacing: 0.06vw;
    font-size: 1.1vw;
    color: #444444;
}

#image>img{
    overflow: hidden;
    height: 90vh;
    width: 43vw;
    position: absolute;
    top: -10%;
    transform: translateY(-50%);
    animation: move 4s infinite linear;
}
@keyframes move {
    0%, 100% {
        transform: translateX(-20px);
    }
    40% {
        transform: translateX(20px);
    }
    70% {
        transform: translateX(-15px);
    } 
}

#zero>button{
    height:10%;
    width: 30%;
    background-color: #4154f1;
    border-radius: 5px;
    color: antiquewhite;
    font-size: 1.2vw;
    letter-spacing: 1px;
    border: none;
    font-weight: 600;
}
/* ending of about section */

/* staring of service section */
#main2{
    position: relative;
    border: 2px solid green;
    width: 100vw;
    height: 170vh;
    background: #f6f5f1;
    font-family: sans-serif;
}
#service_section{
    border: 1px solid yellow;
    width: 87%;
    height:85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    overflow-y: hidden;
}
#service_header{
    text-align: center;
    margin-bottom: 40px;
}
#service_header>h1{
    font-size:35px;
    color: #012970;
    margin-bottom: 30px;
}

/* container of cards */
#container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 17px;
    flex-wrap: wrap;
}
#card1{
    border-bottom:2.5px solid #2db6fa ;
}
#card2{
    border-bottom:2.5px solid #f68c09 ;
}
#card3{
    border-bottom:2.5px solid #08da4e ;
}
#card4{
    border-bottom:2.5px solid #e9222c ;
}
#card5{
    border-bottom:2.5px solid #b50edf ;
}
#card6{
    border-bottom:2.5px solid #F51f9c;
}
#card7{
    border-bottom:2.5px solid #08da4e;
}
#card8{
    border-bottom:2.5px solid #f68c09;
}
.card{
    /* border: 2px solid black; */
    border-radius: 10px;
    padding: 10px;
    height:55vh;
    width: 20vw;
    text-align: center;
    background-color: white;
    box-shadow: 1px 1px 6px 1px rgb(109, 107, 107);
}
.card_icon{
    height:11vh ;
    width:5vw ;
    margin-bottom: 1vw;
}
.card_div{
    color: #444444;
    font-size: 1.5vw;
    font-weight: 600;
    margin-bottom: 1vw;
}
.card_p{
    color: #444444;
    font-size: 1.1vw;
    margin-bottom: 1vw;
}
.card_btn{
    padding: 15px;
    background-color: white;
    font-size: 1.3vw;
    font-weight: 550;
    color: #2db6fa;
    border: none;
}
.card:hover{
    transition: all 0.2s;
    transform: scale(1.05);
}
/* end of main2 section  */

/* start of welcome section which is inside main3 */
#main3{
    /* border: 1px solid black; */
    height: 110vh;
    width: 100vw;
    background-color: #F9FDFE;
    padding: 60px 8vw;
    font-family: sans-serif;
    position: relative;
}
#main3>h1{
    text-align: center;
    font-size:2.5vw;
    color: #012970;
    margin-bottom: 40px;
}
#welcome_section{
    /* border: 1px solid red; */
    height: 85%;
    width: 100%;
    display: flex;
}
#welcome_section_container{
    /* border: 1px solid black; */
    height: 100%;
    width: 60%;
    display: flex;  
    flex-wrap: wrap;
    gap: 2vw;
}
.bx{
    /* border: 1px solid teal;  */
    width: 47%;
    box-shadow: 1px 1px 6px 1px rgb(109, 107, 107);
    border-radius: 15px;
    transition: all;
    transition-duration: 0.4s;
}
.bx:hover{
    transform: scaleY(1.05);
    background-color: #1168e3;
}
#welcome_section_container>#bx1,#bx2{
    padding: 2vw;
    height: 40%;
}
#welcome_section_container>#bx3,#bx4{
    height: 45%;
    padding: 2vw;
}
.bx>h2{
    color: #444444;
    font-size: 1.6vw;
    margin-bottom: 1vw;
}
.bx>p{
    color: #444444;
    font-size: 1.1vw;
}
#welcome_section_img{
    /* border: 1px solid red; */
    height: 100%;
    width:40%;
}
#welcome_section_img>img{
    height: 55vh;
    width: 30vw;
    animation: move 4s infinite linear;
}
@keyframes move {
    0%, 100% {
        transform: translateX(-20px);
    }
    40% {
        transform: translateX(20px);
    }
    70% {
        transform: translateX(-15px);
    } 
}
/* ending of welcome section */

/* starting of footer section */
#footer{
    position: relative;
    /* border: 1px solid lawngreen; */
    height: 70vh;
    width: 100vw;
    font-family: sans-serif;
}
#footer_sec1{
    background:white url(img/footer-bg.png ) no-repeat right top;
    background-size: contain;   
    height: 80%;
    border-top: 1px solid #e1ecff;
    border-bottom: 1px solid #e1ecff;
    padding-top: 40px;
    padding-bottom: 25px;
}
#footer_sec2{
    height: calc(100% - 80%);
    background-color: #f6f9ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.1vw;
}
#sec1_container{
    /* border: 1px solid indianred; */
    height: 100%;
    width: 87%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.footer_bx{
    /* border: 1px solid blue; */
    height: 100%;
    padding: 1.5vw;
}
#foot_bx1{
    width: 40%;
}
#foot_bx2,#foot_bx3{
    width:17%;
}
#foot_bx4{
    width: calc(100% - 74%);
}
#foot_bx1>img{
    height: 12vh;
    width: 15vw;
    margin-bottom: 1.5vw;
}
#foot_bx1>p{
    line-height: 1.4vw;
    font-size: 0.9vw;
    color: #444444;
    letter-spacing: 0.02vw;
}
.footer_bx>h4{
    font-size: 1.1vw;
    color: #012970;
    margin-bottom: 1.1vw;
}
.footer_bx ul li{
    list-style: none;
    color: #013289;
    font-size: 1vw;
    margin-bottom: 0.5vw;
}
.less{
    color: #d0d4fc;
}
#foot_bx4>div{
    color: #444444;
    font-size: 1vw;
}
.phone{
    margin-top: 2vw;
    margin-bottom: 1vw;
}
/* ending of footer section  */

@media (max-width:1023px){
    #list li{display: none;}
    #nav i{display: block;
    font-size: 3vw;}
    #outer_div1{
        height: 150vh;
    }
    #inner_div2{
        flex-direction: column;
        height: 75%;
    }
    #text{
        width: 85%;
        height:40%;
        text-align: center;
    }
    #text1{font-size: 4vw;}
    #text>div{font-size: 2.3vw;
    margin:19px 0px;}
    #text>button{
        height: 40px;
        width: 170px;
        align-self: center;
        font-size: 1.3vw;
    }
    #form{width: 50%;
        height: 50%;
    }
    .name_email{width: 48%;
    }
    input,textarea{font-size: 1.5vw;}
    #form_btn{font-size: 1.6vw;}
    #wave-animation{display: none;}

    /* starting of about section which is inside main  */
    #main{
        height: 200vh;
    }
    #about_section{
        height:90%;
        width: 75%;
        flex-direction: column;
    }
    .bg{
        width: 100%;
    }
    #about_section #content{
        height: 50%;
    }
    #content>h2{font-size: 2.5vw;}
    #content>p{font-size: 1.6vw;
        margin: 1.4w 0vw 2.4vw;}
    #content>button{
        height:8.5vh;
        width: 15vw;
        font-size: 1.5vw;
        align-self: center;
    }
    #image{position: relative;}
    #image>img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        height: 105vh;
        width: 60vw;
        animation: none;
    }

    /* starting of service section which is inside main2 */
}
@media (max-width:1250px){
    #main{
        height: 150vh;
    }
}


